@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, header { /* 초기화 */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
}

header .container {
    width: 90%;
    height: 80px;
    margin: 0 auto; /* 제한되어 있는 영역(width:90%)을 항상 수평 기준으로 중앙에 오게 */
    display: flex; /* 컨테이너를 세로로 배치 (inline-flex는 가로 배치) - 아이템들의 원활한 정렬을 위해 */
    align-items: center;
    justify-content: space-around; /* */
}

.logo_sction, .nav_section, .login_section {
    flex: none; /* header 아이템들 크기 고정 */
}

.login_section {
    margin-left: auto; /* 로그인 메뉴 우측으로 */
}

.container nav ul li {
    display: inline-block; /* 메뉴 li 가로 정렬 */
    margin: 0 35px; /* 메뉴 사이 간격 */
}

.container .logo {
    display: block; /* a태그 전체가 클릭 영역이 되도록 */
    font-size: 40px;
    font-weight: bold;
    font-family: 'GangwonEduPowerExtraBoldA';
}

a, a:link, a:visited {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black;
}

header li {
    list-style: none; /* 메뉴 리스트 기호 제거 */
    font-family: 'GmarketSansMedium';
}

nav li a:hover {
    color: rgb(102, 102, 102); /* 메뉴 마우스 오버 */
    border-bottom: 2px solid #FBC02D;
}