@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

.info {
    border-bottom: 1px solid lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info .title {
    display: inline;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}

/* -- mycat_section -- */
.mycat_section .contents {
    display: flex; /* 아이템을 한줄로 */
    justify-content:space-evenly; /* 아이템 양쪽의 공간 남기고 수직 정렬 */
    padding-top: 70px;
    padding-bottom: 100px;
}

.contents .mycat_contents {
    display: block; /* 사진 아래 내용 줄바꿈 (가로 한줄 차지) */
    text-align: center;
}

.mycat_section .contents img {
    border: 3px solid lightgray;
    border-radius: 50% ;
    width: 300px;
    height: 300px;
}

.mycat_contents .mycat1 {
    background-image: url(../img/우디.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mycat_contents .mycat2 {
    background-image: url(../img/우동.jpg);
    background-repeat: no-repeat;
    background-size: 170%;
}

.mycat_contents h1 {
    border-bottom: 1px solid lightgray;
    font-size: 35px;
}

.mycat_contents h2 {
    font-size: 20px;
    line-height: 20px;
}

.mycat_health {
    border-top: 1px solid lightgray;
    margin-bottom: 50px;
}

.mycat_health h2 {
    line-height: 15px;
}

.mycat_health span {
    font-size: 12px;
}

.mycat_contents button {
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: rgb(239, 238, 238);
    font-size: 13px;
}