@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

/* -- section1 -- */
.section1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
    height: 260px;
}

.section1_banner {
    display: flex; /* cats_text, cats_img 한줄에 */
    justify-content: space-evenly; /* 아이템 양쪽에 일정의 공간을 두고 수평 정렬 */
    align-items: center; /* 아이템 수직 정렬*/
    padding-top: 20px;
}

.section1_img img {
    height: 200px;
    padding-left: 300px;
}

.section1_text {
    width: 500px;
    padding-right: 300px;
    font-size: 40px;
    line-height: 50px;
}

.section1_text .highlight {
    color:#FBC02D;
}

/* -- section2 -- */ /* 각 다른 줄의 li들을 모두 동일하게 적용하기 위해 .section2 div 로 지정 */
.section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2 div {
    height: auto;
    display: flex; /* 컨테이너를 세로로 배치 (inline-flex는 가로 배치) - 수평정렬됨, 아이템들의 원활한 정렬을 위해 */
    justify-content: center; /* 수직정렬 */
    align-items: center;
}

.section2 div li {
    display: inline-block; /* list 가로 정렬 (한줄에) */
    margin: 0 30px; /* 사진 리스트 사이 간격 */
    list-style: none;
}

.section2 div ul li a {
    display: inline-block; /* 컨텐츠를 감쌀 정도의 크기로 지정하지만, 임의로 크기 변경 가능 */
    width: 300px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
}