@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

/* -- section1 -- */
.section1 {
    height: 260px;
}

.section1_banner {
    display: flex; /* cats_text, cats_img 한줄에 */
    justify-content: space-evenly; /* 아이템 양쪽에 일정의 공간을 두고 수평 정렬 */
    align-items: center; /* 아이템 수직 정렬*/
    padding-top: 20px;
}

.section1_img img {
    height: 100px;
    padding-left: 300px;
}

.section1_text {
    width: 500px;
    padding-right: 200px;
    font-size: 30px;
    line-height: 50px;
}

.section1_text span {
    color: #FBC02D;
}

/* -- tip_section -- */
.tip_section {
    padding-bottom: 50px;
    text-align: center; /* 리스트 가운데 정렬 */
}

.tip_section div {
    height: auto;
    justify-content: space-around;
}

.tip_section div ul li {
    display: inline-block; /* 컨텐츠를 감쌀 정도의 크기로 지정하지만, 임의로 크기 변경 가능 */
    width: 1000px;
    height: 100px;
    border-left: none;
    border-right: none;
    list-style: none;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}

.tip_section div ul li:not(:first-child) {
    border-top: 1px solid lightgray; /* 선 중첩되지 않게 리스트 중 가장 첫번째 자식을 제외한 나머지에만 border-top 적용 */
}

.tip_list ul li:nth-child(1){
    border-top: 1px solid lightgray; /* 리스트 가장 첫번째 자식만 border-top 적용 */
}

.tip_list ul li:last-child{
    border-bottom: 1px solid lightgray; /* 리스트 마지막 자식만 border-bottom 적용 */
}

.tip_button {
    padding-top: 20px;
    padding-bottom: 50px;
}

.tip_button button {
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: 5px; /* 버튼사이 간격 */
    font-size: 13px;
}