footer {
    margin-top: auto; /* 항상 화면 아래에 표시 */
    width: 100%;
    height: 100px;
    display: flex; /* footer 안에 있는 아이템(p)들이 footer 안에서 가로로 나열됨 */
    justify-content: center; /* 아이템(p) 수평 정렬 */
    align-items: center; /* 아이템(p) 수직 정렬 */
}

footer p {
    color: rgb(131, 131, 131);
    font-size: 12px;
}