@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, header { /* 초기화 */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding-left: 50px; /* 로고 좌측 여백 */
    padding-top: 15px; /* header 위 여백 */
    padding-bottom: 5px; /* header 아래 여백 */
    border-bottom: 1px solid lightgray;
}

.container {
    display: flex; /* 컨테이너를 세로로 배치 (inline-flex는 가로 배치) */
    align-items: baseline; /* 아이템들을 텍스트 기준선으로 정렬 */
}

.container .logo {
    font-size: 40px;
    font-weight: bold;
    font-family: GangwonEduPowerExtraBoldA;
}

a, a:link, a:visited {
    float: left;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black;
}

nav {
    width: 100%; /* 메뉴 한줄에 */
}

header li {
    list-style: none; /* 메뉴 리스트 기호 제거 */
}

nav li a {
    margin: 0 60px; /* 메뉴 사이 간격 */
}

nav li a:hover {
    color: darkgray; /* 메뉴 마우스 오버 */
}